<div class="layout-bar shadow-3">
    <!-- Barra superior -->
    <div class="bar-content flex align-items-center justify-content-between px-4 lg:px-6">
        <div class="flex align-items-center gap-2 cursor-pointer"
             (click)="router.navigate(['/' ])">

            <img src="assets/logo.png" class="w-2rem" alt="logo">
            <h3>
                RUA<span class="text-primary">W</span>?
            </h3>
        </div>
        <div class="bar-actions">
            <p-button icon="pi pi-user" [text]="true" severity="help"/>
        </div>
    </div>
    <!-- Barra de botones -->
    <div class="button-bar flex align-items-end sm:px-1 md:px-4 lg:px-6">
        <p-button
                label="Conjuros"
                icon="pi pi-sparkles"
                [text]="true"
                routerLink="/admin/spells"
                [severity]="isActiveRoute('/admin/spells') ? 'help' : 'secondary'"
                [ngClass]="{'active-button': isActiveRoute('/admin/spells')}"
        ></p-button>

        <p-button
                label="Clases"
                icon="pi pi-shield"
                [text]="true"
                routerLink="/admin/classes"
                [severity]="isActiveRoute('/admin/classes') ? 'help' : 'secondary'"
                [ngClass]="{'active-button': isActiveRoute('/admin/classes')}"
        ></p-button>
    </div>
</div>
