<spell-filters (filtersChanged)="onFiltersChange($event)"></spell-filters>

<div *ngIf="spells; else loading" class="mb-4">
    <div class="my-4 flex flex-column gap-4">
        <div *ngFor="let spell of spells">
            <spell-card [spell]="spell"></spell-card>
        </div>
    </div>

    <p-paginator [rows]="spellResponse.pageSize"
                 [totalRecords]="spellResponse.totalElements"
                 [first]="first"
                 [rowsPerPageOptions]="[5,10, 20, 30]"
                 [showPageLinks]="true"
                 (onPageChange)="onPageChange($event)"
    />
</div>

<ng-template #loading>
    <div class="flex justify-content-center mt-8">
        <div class="justify-content-center">
            <p-progressSpinner ariaLabel="loading"/>
        </div>
    </div>
</ng-template>