<div class="flex flex-column justify-content-center align-items-center h-full">

    <p-message *ngIf="isInvalidCredentials"
               text="El usuario o la contraseña no son correctos"
               severity="error"
               styleClass="mb-2 w-30rem"/>

    <p-card styleClass="w-30rem">
        <div class="flex align-items-center gap-2">
            <img src="assets/logo.png" class="w-3rem" alt="logo">
            <h1>
                RUA<span class="text-primary">W</span>?
            </h1>
        </div>
        <p-divider/>

        <h3>Iniciar sesión</h3>

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

            <div class="field">
                <label for="username">Usuario</label>
                <input id="username"
                       type="text"
                       formControlName="username"
                       pInputText
                       class="w-full">
                <div *ngIf="validateField('username')" class="mt-1">
                    <small *ngIf="isValidField('username')" class="text-red-400">
                        El usuario es obligatorio
                    </small>
                </div>
            </div>

            <div class="field">
                <label for="password">Contraseña</label>
                <input id="password"
                       type="password"
                       formControlName="password"
                       pInputText
                       class="w-full">
                <div *ngIf="validateField('password')" class="mt-1">
                    <small *ngIf="isValidField('password')" class="text-red-400">
                        La constraseña es obligatoria
                    </small>
                </div>
            </div>

            <p-button label="Login" type="submit" styleClass="w-full"/>
        </form>

        <div class="flex justify-content-end mt-5 mb-2">
            <a routerLink="/auth/register" class="text-teal-300">¿No tienes cuenta?</a>
        </div>

    </p-card>
</div>
