<div class="flex justify-content-center align-items-center h-full">
    <p-card styleClass="w-30rem">
        <div class="flex align-items-center gap-2">
            <img src="assets/logo.png" class="w-3rem" alt="logo">
            <h1>
                RUA<span class="text-primary">W</span>?
            </h1>
        </div>
        <p-divider/>

        <h3>Iniciar sesión</h3>

        <div class="field">
            <label for="username">Usuario</label>
            <input id="username" type="text" pInputText class="w-full">
        </div>
        <div class="field">
            <label for="password">Contraseña</label>
            <input id="password" type="text" pInputText class="w-full">
        </div>

        <p-button label="Login" severity="primary" styleClass="w-full"/>

        <div class="flex justify-content-end mt-5 mb-2">
            <a routerLink="/auth/register" class="text-teal-300">¿No tienes cuenta?</a>
        </div>

    </p-card>
</div>
