<div class="primeng-card p-3 h-full">
    <div class="flex flex-column">
        <div class="flex align-items-center gap-3">
            <img
                    [src]="class.name | classImage"
                    alt="icono del hechizo"
                    class="h-4rem"
            />
            <!-- Nombre -->
            <p class="text-lg">{{ class.name }}</p>
        </div>
        <span class="col-12 p-text-secondary">
            {{ class.simpleDescription }}
        </span>
    </div>
</div>
