.layout-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;

    display: flex;
    flex-direction: column;

    background: #121212;
    border-bottom: 1px solid var(--gray-700);
}

.bar-content {
    height: 3rem;
    display: flex;
}

.button-bar {
    height: 3rem; /* Altura de la barra de botones */
}
