<p-panel header="Filtros" [toggleable]="true">
    <div class="grid">
        <!-- Filtro por Nombre -->
        <div class="col-4">
            <input type="text" pInputText
                   placeholder="Búsqueda por nombre"
                   variant="filled"
                   class="w-full"
                   [disabled]="true"
                   [(ngModel)]="nameFilter"
            />
        </div>

        <!-- Filtro por Escuela Mágica -->
        <div class="col-2">
            <p-dropdown
                    [options]="schoolsItems"
                    placeholder="Escuela de magia"
                    variant="filled"
                    [style]="{'width':'100%'}"
                    [(ngModel)]="schoolFilter"
            />
        </div>

        <!-- Filtro por Nivel -->
        <div class="col-2">
            <p-dropdown
                    [options]="levelItems"
                    placeholder="Nivel"
                    variant="filled"
                    [style]="{'width':'100%'}"
                    [(ngModel)]="levelFilter"
            />
        </div>


        <!-- Filtro por Clase -->
        <div class="col-2">
            <p-dropdown
                    [options]="classItems"
                    placeholder="Clase"
                    variant="filled"
                    class="full-clumn-width"
                    [style]="{'width':'100%'}"
                    [(ngModel)]="classFilter"
            />
        </div>

        <!-- Boton de busqueda -->
        <div class="col-2">
            <div class="flex flex-row justify-content-between w-full">
                <p-button [outlined]="true"
                          (onClick)="onSearch()"
                          label="Buscar"/>

                <p-button [outlined]="true"
                          severity="danger"
                          (onClick)="onClear()"
                          icon="pi pi-trash"/>
            </div>
        </div>

    </div>
</p-panel>