<div class="primeng-card px-3">
    <!-- Línea inferior: Información estructurada -->
    <div class="grid align-items-center">
        <div class="col-1">
            <img
                    src="assets/spell-icon.png"
                    alt="icono del hechizo"
                    class="h-3rem"
            />
        </div>

        <div class="col-3">
            <span class="p-text-secondary truncate">{{ spell.name }}</span>
        </div>

        <div class="col">
            <span class="p-text-secondary">{{ spell.level === 0 ? 'Truco' : 'Nv.' + spell.level }}</span>
        </div>

        <div class="col">
            <span class="p-text-secondary">{{ spell.magicSchool }}</span>
        </div>

        <div class="col">
            <span class="p-text-secondary">{{ spell.castingTime }}</span>
        </div>

        <div class="col">
            <span class="p-text-secondary">{{ spell.range }}</span>
        </div>

        <div class="col">
            <span class="p-text-secondary">{{ spell.components }}</span>
        </div>
    </div>
</div>
