<div class="layout-bar shadow-3">
    <!-- Barra superior -->
    <div class="bar-content flex align-items-center justify-content-between px-4 lg:px-6">
        <div class="flex align-items-center gap-2 cursor-pointer"
             (click)="router.navigate(['/' ])">

            <img src="assets/logo.png" class="w-2rem" alt="logo">
            <h3>
                RUA<span class="text-primary">W</span>?
            </h3>
        </div>
        <div class="flex gap-2">
            <p-button *ngIf="authStatus === AuthStatus.authenticatedAdmin"
                      icon="pi pi-wrench"
                      label="Admin"
                      [text]="true"
                      [outlined]="true"
                      severity="danger"
                      (click)="router.navigate(['/admin'])"/>

            <p-button
                    *ngIf="authStatus !== AuthStatus.authenticatedAdmin && authStatus !== AuthStatus.authenticated"
                    icon="pi pi-sign-in"
                    [text]="true"
                    [outlined]="true"
                    (click)="router.navigate(['/auth/login'])"/>
        </div>
    </div>
    <!-- Barra de botones -->
    <div class="button-bar flex align-items-end sm:px-1 md:px-4 lg:px-6">
        <p-button
                label="Inicio"
                icon="pi pi-home"
                [text]="true"
                routerLink="/home"
                [severity]="isActiveRoute('/home') ? 'primary' : 'secondary'"
                [ngClass]="{'active-button': isActiveRoute('/home')}"
        ></p-button>
        <p-button
                label="Conjuros"
                icon="pi pi-sparkles"
                [text]="true"
                routerLink="/spells"
                [severity]="isActiveRoute('/spells') ? 'primary' : 'secondary'"
                [ngClass]="{'active-button': isActiveRoute('/spells')}"
        ></p-button>
        <p-button
                label="Clases"
                icon="pi pi-shield"
                [text]="true"
                routerLink="/classes"
                [severity]="isActiveRoute('/classes') ? 'primary' : 'secondary'"
                [ngClass]="{'active-button': isActiveRoute('/classes')}"
        ></p-button>
    </div>
</div>
